.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   width: 375px;
  // height: 100%;
  padding: 32px 20px 24px 20px;
  border-radius: 0;
  background-color: #fafafa;
}

.modalCloseBtn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: #fd9222;
  }
}

.modalCloseIcon {
  stroke: #111;
}

.modalTitle {
  margin-bottom: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: left;
  color: #1f1b1a;
}

.listContainer {
  height: 556px;
  overflow-y: auto;
  // scrollbar-width: 4px;
  // scrollbar-color: rgb(250, 207, 90) #f4f4f4; /* Track color and thumb color */
  margin-bottom: 20px;
  border-bottom: 1px solid #858585;
}

.listContainer::-webkit-scrollbar {
  width: 4px;
}

.listContainer::-webkit-scrollbar-track {
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: rgb(250, 207, 90);
  border-radius: 5px;
}

.list {
  width: 335px;
  padding: 0;
  margin: 0;
}

.listItem {
  height: 192px;
  width: 335px;
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: #f6f6f6;
  display: flex;
  border-radius: 24px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.imgWrapper {
  border-radius: 24px;
  overflow: hidden;
}

.itemImg {
  width: 80px;
  height: 80px;
}

.descriptionWrapper {
  padding: 16px;
  position: relative;
}

.itemTitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.02em;
  color: #1f1b1a;
  margin-bottom: 8px;
}

.itemVolume {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #1f1b1a;
}

.itemQuantityWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.itemQuantityText {
  display: none;
}

.quantityBtn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  border-color: grey;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #1f1b1a;
}

.itemPrice {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #1f1b1a;
}

.deleteBtn {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: transparent;
  outline: none;
  border: none;
}

.linkWrapper {
  margin-bottom: 12px;
}

.modalLink {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #1f1b1a;
}

.totalPrice {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #1f1b1a;
  text-align: right;
  margin-bottom: 12px;
}

.modalSubmitBtn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #1f1b1a;
  background: #facf5a;
  border-radius: 12px;
  padding: 12px 32px;
  width: 335px;
  height: 48px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .modalContainer {
    // width: 672px;
    // height: 100%;
    padding: 48px;
    border-radius: 24px;
    background-color: #fafafa;
  }

  .modalCloseBtn {
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }

  .modalTitle {
    margin-bottom: 32px;
    font-size: 32px;
  }

  .listContainer {
    height: 628px;
    overflow-y: auto;
    margin-bottom: 24px;
  }

  .list {
    width: 576px;
  }

  .listItem {
    height: 216px;
    width: 576px;
    margin-bottom: 24px;
    border-radius: 24px;
  }

  .imgWrapper {
    border-radius: 24px;
  }

  .itemImg {
    width: 204px;
    height: 216px;
  }

  .itemTitle {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  .itemVolume {
    margin-bottom: 16px;
  }

  .itemQuantityWrapper {
    gap: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.55556;
  }

  .quantityBtn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 1.55556;
  }

  .deleteBtn {
    width: 28px;
    height: 28px;
  }

  .modalBottomWrapper {
  }

  .linkWrapper {
    margin-bottom: 16px;
  }

  .modalSubmitWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .totalPrice {
    text-align: right;
    margin-bottom: 0;
  }

  .modalSubmitBtn {
    width: 255px;
  }
}

@media (min-width: 1440px) {
  .modalContainer {
    // width: 1216px;
    // height: 100%;
    padding: 64px;
  }

  .modalTitle {
    margin-bottom: 64px;
    font-size: 80px;
  }

  .listContainer {
    height: 536px;
    margin-bottom: 32px;
  }

  .list {
    width: 1088px;
  }

  .listItem {
    height: 216px;
    width: 1088px;
  }

  .itemImg {
    width: 216px;
  }

  .descriptionWrapper {
    flex-grow: 1;
  }

  .itemTitle {
    font-size: 24px;
    line-height: 1.33333;
  }

  .itemVolume {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.55556;
  }

  .itemQuantityWrapper {
    margin-bottom: 18px;
    line-height: 1.55556;
  }

  .itemQuantityText {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.04em;
    color: #1f1b1a;
    margin-right: 32px;
  }

  .quantityBtn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 1.55556;
  }

  .itemPrice {
    font-size: 18px;
    line-height: 1.55556;
  }

  .deleteBtn {
    width: 28px;
    height: 28px;
    bottom: 24px;
    right: 24px;
  }

  .modalBottomWrapper {
    display: flex;
    justify-content: space-between;
  }

  .linkWrapper {
    margin-bottom: 0;
  }

  .modalLink {
    font-size: 18px;
    line-height: 1.55556;
  }

  .modalSubmitWrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
  }

  .totalPrice {
    font-size: 24px;
    line-height: 1.33333;
    text-align: right;
    margin-bottom: 0;
  }

  .modalSubmitBtn {
    font-size: 18px;
    line-height: 1.55556;
    width: 279px;
    height: 52px;
  }
}
